<div class="row param">
  <div class="title">Title</div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/versionlist']">Version</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/categorielist']">Categorie</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/rubriquelist']">Rubrique</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/itemlist']">Item</button>
  </div>
</div>


<div class="accordion" id="accordionExample">
  <div class="row">
    <div class="col">
  <h1>Grille</h1>
    </div>
    <div class="col">
      <select class="form-select" aria-label="Default select example" (change)="addVersionToGrille()">
        <option selected>Version</option>
        <option  value="{{version}}" >{{version.libelle}}</option>
      </select>
    </div>
    <div class="col">
      <select class="form-select" aria-label="Default select example" >
        <option selected>Plateau</option>
        <option  value="{{plateau}}" *ngFor="let plateau of plateau" >{{plateau.appelation}}</option>
      </select>
    </div>
    <div class="col">
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add categorie</button>
    </div>
  </div>
  <div class="accordion-item"*ngFor="let cat of grille.categorie,let i = index">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#c'+i" aria-expanded="true" aria-controls="collapseOne">
        {{cat.libelle}}
      </button>
    </h2>
    <div id="{{'c'+i}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body" *ngIf="cat.rubriques !==[] " >
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation" *ngFor="let rub of cat.rubriques; let r = index">
            <button class="nav-link " [class.active]="r === 0"  id="{{rub.id}}" (click)="setActiveTab(rub.libelle)" data-bs-toggle="tab" [attr.data-bs-target]="'#'+rub.libelle" type="button" role="tab" [attr.aria-controls]="rub.libelle + '-pane'" [attr.aria-selected]="i === 0">{{rub.libelle}}</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent" >
            <div class="tab-pane fade " [class.show]="activeTab === rub.libelle"
                 [class.active]="activeTab ===  rub.libelle" [class.hide]="activeTab !== rub.libelle " *ngFor="let rub of cat.rubriques; let r = index"  id="{{rub.libelle}}-pane" role="tabpanel" [attr.aria-labelledby]="rub.id" tabindex="0">
              <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item" *ngFor="let item of rub.items">
                  <div class="row">
                    <div class="col">
                      <label >{{item.libelle}}</label>
                    </div>
                    <div class="col">
                      <select id="requiredSelect" class="form-select" required>
                        <option value="">Required select</option>
                      </select>
                    </div>
                  </div>
                </li>
              </ul>
              <button class="btn btn-primary" (click)="openrubrique(i,r)" ><fa-icon [icon]="faSquarePlus" ></fa-icon>  ITEM</button>
              <input type="text" i class="form-control" placeholder="seuil copc">
            </div>
        </div>
  </div>
      <div class="accordion-body"  *ngIf="cat.rubriques.length ===0">
        <ul class="list-group list-group-horizontal-xxl">
          <li class="list-group-item" *ngFor="let items of cat.items">
            <div class="row">
              <div class="col">
                <label >{{items.libelle}}</label>
              </div>
              <div class="col">
                <a><fa-icon [icon]="faXmark" ></fa-icon></a>
              </div>
            </div>
          </li>
        </ul>
        <button class="btn btn-primary" (click)="open(i)" ><fa-icon [icon]="faSquarePlus" ></fa-icon> ITEM</button>
        <input type="text" i class="form-control" placeholder="seuil copc">
        </div>
</div>
  </div>
</div>
<button class="btn btn-primary"(click)="saveGrille()">Enregistrer la grille</button>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="exampleModalLabel">Selectionner les catégories</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <table class="table">
            <caption class="visually-hidden">Boosted tables basic look</caption>
            <thead>
            <tr>
              <th scope="col">selectionner</th>
              <th scope="col">Libelle</th>
              <th scope="col">description</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categorie of categories">
              <td><input class="form-check-input" type="checkbox" (change)="selectCategorie($event,categorie);"  value="" id="defaultCheck1"></td>
            <td>{{categorie.libelle}}</td>
            <td>{{categorie.description}}</td>
            <td>{{categorie.status}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCatToGrille()">Save changes</button>
      </div>
    </div>
  </div>
</div>
