.param {
  border: 1px solid #000000;
  border-radius: 4px;
  height: 100px;
  margin-top: 5%;
  position: relative;
  margin-bottom: 5%;
}

.param .title {
  margin: -10px 0 0 10px;
  background: #fff;
  padding: 3px;
  display: inline-block;
  font-weight: bold;
  position: absolute;
}

.param .col {
  padding: 30px;
}
