<div class="container">
  <div class="row height d-flex justify-content-center ">
    <div class="col-md-8">
      <button class="btn btn-primary add"><fa-icon [icon]="faPlus" ></fa-icon> Ajouter un utilisateur</button>
      <div class="search">
        <fa-icon class="fa-search" [icon]="faSearch" ></fa-icon>
        <input type="text" class="form-control" placeholder="Rechercher un utilisateur">
        <button class="btn btn-primary">Rechercher</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
