<nav class="navbar navbar-dark navbar-expand-lg bg-dark supra" aria-label="Supra-navigation - Only left navbar example">
  <div class="container-xxl">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a routerLink="/accueil" class="nav-link" aria-current="page" routerLinkActive="active">Qualité</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Ressources humaines</a></li>
      <li class="nav-item"><a routerLink="/parametrage/plateau" class="nav-link" routerLinkActive="active">Paramétrage</a></li>

    </ul>
  <div class="d-flex nav-item">
    <a (click)="logout()" href=""  class="nav-link" >se déconnecter</a>
  </div>
  </div>

</nav>
