<nav class="navbar navbar-dark navbar-expand-lg bg-dark supra" aria-label="Supra-navigation - Only left navbar example">
  <div class="container-xxl">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a href="" class="nav-link active" aria-current="page">Qualité</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Ressources humaines</a></li>
      <li class="nav-item"><a href="/parametrage/rubriquelist" class="nav-link">Paramétrage</a></li>

    </ul>
  <div class="d-flex nav-item">
    <a href="#" (click)="logout()" class="nav-link">se déconnecter</a>
  </div>
  </div>

</nav>
