
<div class="container">
  <div class="row justify-content-end">
    <div class="col-2">
      <button type="button" class="btn btn-primary ajout " [routerLink]="['/parametrage/itemedit']" >Ajouter</button>
    </div>
  </div>
  <table class="table">
    <caption class="visually-hidden">Boosted tables basic look</caption>
    <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.libelle}}</td>
      <td>{{item.status}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/parametrage/itemedit',item.id]" >modify</button></td>
      <td><button class="btn btn-primary" (click)="deleteItem(item)">supp</button></td>
    </tr>
    </tbody>
  </table>
</div>
