
<div class="container">
  <div class="row justify-content-end">
    <div class="col-2">
      <button type="button" class="btn btn-primary ajout " [routerLink]="['/parametrage/rubriqueedit']" >Ajouter</button>
    </div>
  </div>
<table class="table">
  <caption class="visually-hidden">Boosted tables basic look</caption>
  <thead>
  <tr>
    <th scope="col">Libelle</th>
    <th scope="col">Description</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rubrique of rubriques">
    <td>{{rubrique.libelle}}</td>
    <td>{{rubrique.description}}</td>
    <td>{{rubrique.status}}</td>
    <td><button class="btn btn-primary" [routerLink]="['/parametrage/rubriqueedit',rubrique.id]" >modify</button></td>
    <td><button class="btn btn-primary" (click)="deleteRubrique(rubrique)">supp</button></td>
  </tr>
  </tbody>
</table>
</div>
