
<div class="container">
  <h1>Categorie</h1>
  <div class="row justify-content-end">
    <div class="col-2">
      <button type="button" class="btn btn-primary ajout " [routerLink]="['/parametrage/categorieedit']" >Ajouter</button>
    </div>
  </div>
  <table class="table">
    <caption class="visually-hidden">Boosted tables basic look</caption>
    <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">description</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categorie of categories">
      <td>{{categorie.libelle}}</td>
      <td>{{categorie.description}}</td>
      <td>{{categorie.status}}</td>
      <td><a [routerLink]="['/parametrage/categorieedit',categorie.id]" ><fa-icon [icon]="faPencil" ></fa-icon></a></td>
      <td><a (click)="deleteCategorie(categorie)"><fa-icon [icon]="faTrashCan" ></fa-icon></a></td>
    </tr>
    </tbody>
  </table>
</div>

