<div class="row param">
  <div class="title">Plateaux</div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" routerLink="/parametrage/plateau/plateaux/list">Plateau</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" routerLink="/parametrage/plateau/univers/list">Univers</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" routerLink="/parametrage/plateau/segment/list">Segments</button>
  </div>
</div>
<router-outlet></router-outlet>
