<div class="row param">
  <div class="title">Title</div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/versionlist']">Plateau</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/categorielist']">Univers</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary grillebutton" [routerLink]="['/parametrage/rubriquelist']">Segments</button>
  </div>
</div>
