<div class="container">
  <ul class="nav nav-tabs nav-tabs-light">
    <li class="nav-item">
      <a class="nav-link active" href="#" aria-current="page">Rubrique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plateaux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Segments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Grille</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Action Suivi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Document</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Compétences</a>
    </li>
  </ul>
  <router-outlet ></router-outlet>
</div>
